# Web framework
fastapi[all]==0.115.12
uvicorn[standard]==0.34.2

# Configuration & validation
pydantic==2.11.4

# Data handling
polars==1.21.0
pandas==2.2.2
numpy==2.0.2
python-dateutil==2.8.2
gcsfs==2024.12.0
google-cloud-storage==2.11.0

# RAG & embeddings
pytorch-lightning==2.5.1           
langchain
#==0.3.25                 
langchain-huggingface
#==0.2.0        
sentence-transformers
#==4.1.0
# 2.7.0
langchain-community==0.3.24

# Vector store
faiss-cpu==1.11.0

# Search index
whoosh==2.7.4

# Transformers
torch
transformers
torchvision
accelerate==0.29.3 
sympy==1.12
peft
#==0.11.1

aiofiles==24.1.0
optimum==1.25.3
bitsandbytes==0.45.5
#gptqmodel==2.2.0

HuggingFace
huggingface_hub

